.container {
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: center;
    padding-right: 18px;
    margin-top: 14px;
}

.container img {
    width: 15px;
    height: 15px;
}

.anchore {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.container a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.container a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    gap: 22px;
    align-items: center;
    cursor: pointer;
}

.buttons {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons:hover {
    background-color: rgba(218, 218, 218, 0.344);
    border-radius: 50%;
}