.container__txt{
    display: flex;
    gap: 6px;
    align-items: center;
}

.container__txt img{
    width: 90px;
}

.container__txt p{
    color: gray;
    font-size: 24px;
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 100% ;
    align-items: center;
    padding: 15px 20px;
}

.container img{
    cursor: pointer;
}

