.container {
  background-image: url(../../public/background.png);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.wrapper {
  width: 1224px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 819px) {
  .wrapper {
    max-height: 400px;
  }
  .wrap {
    flex-wrap: nowrap;
  }
}

.navigationContainer {
  display: flex;
}

.wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
