.container {
  background-image: url(../../public/background.png);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

.wrapper {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
  max-width: 1224px;
}

@media screen and (max-width: 1023px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
