
.btn img {
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: #f5f8ff;
    padding: 20px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btn{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container:hover{
    background-color: #c7dbff;
}

.darkContainer{
    background-color: #2c303d;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px 15px;
}

.darkContainer:hover{
    background-color: #3a3f50;
    color: #eef0ff;
    fill: currentColor;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px 15px;
}

.darkBtn img {
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
   color: #eef0ff;
}

.darkBtn{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

