
.container__btn img {
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: #f5f8ff;
    padding: 20px 15px;
    border-radius: 20px;
}

.container__btn{
    display: flex;
    flex-direction: column;
    gap: 8px;
}