.container {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
    background-color: whitesmoke;
}

.time  {
    margin-left: 25px;
    margin-right: 35px;
}