.wrapper {
    width: 436px;
    height: 386px;
    background-color: rgb(206, 214, 214);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    position: fixed;
}

.Profile img{
    width: 64px;
    height:64px;
}

.paragraph p {
    color: black;
}

.managebutton button{
    width: 250px;
    height: 37px;
    background-color: transparent;
    border: 1px solid gray;
    color: rgb(70, 70, 241);
    cursor: pointer;
    border-radius: 40px;
}
.managebutton button:hover {
    background-color: rgba(185, 211, 214, 0.623);
}
.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.addButton button:hover {
    background-color: rgb(190, 189, 189);
}
.addAccount button {
    width: 150px;
    height: 45px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color:whitesmoke;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}       
.addAccount button img {
    width: 25px
}

.signOut button {
    width: 150px;
    height: 45px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color:whitesmoke;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.signOut button img {
    width: 15px;
}

.anchores a {
    text-decoration: none;
    color: black;
}

.anchores {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}

.anchoresGeorgia {
    display: flex;
    flex-direction: column;
}

.manageGeorgian {
    font-size: 14px;
}