.container {
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow:hidden;
}

.activeBurger {
    position: relative;
    right: 0;
}

.Burger {
    display: none;
}

.disabledLogin {
    display: none;
}

.activeLogin {
    position: relative;
    right: 0;
}

.inactiveProfileBurger {
    display: none;
}

.activeProfileBurger {
    position: fixed;
    right: 500px;
    top: 70px;

}