.container li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}