.container li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapperChild {
    width: 900px;
    background-color: rgb(199, 197, 197);
    border-radius: 5px;
}

.dateContainer {
    color: #fff;

}

.dateContainer h2 {
    padding-left: 40px;
    padding-top: 20px;
}

.mainContainer li {
    list-style: none;
}

.mainContainer ul {
    padding-top: 20px;
    padding-bottom: 20px;
}

.historyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.historyContainer h1 {
    font-weight: 500;
    font-size: 26px;
}

.adjustContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.deleteContainer button {
    position: absolute;
    right: 20px;
    top: 25px;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(85, 85, 236);
    background-color: transparent;
    color: rgb(85, 85, 236);
    cursor: pointer;
}
.mainContainer {
    margin-top: 50px;
}