.container {
    width: 130px;
    height: 180px;
    border: 1px solid rgb(160, 158, 158);
    border-radius: 8px;
    position: absolute;
    right: 10px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5px;
}

.container li {
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    padding-top: 8px;
    display: flex;
    align-items: center;
}

.container li a {
    text-decoration: none;
    color: black;
}

.container li:hover {
    background-color: rgb(177, 172, 172);

}


.darkModeContainer {
    width: 130px;
    height: 180px;
    background-color: rgb(48, 46, 46);
    border-radius: 8px;
    position: absolute;
    right: 10px;
    bottom: 30px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-left: 5px;
}

.darkModeContainer li {
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    padding-top: 8px;
}

.darkModeContainer li a {
    text-decoration: none;
    color: #fff;
}


.darkModeToggle > img {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.lastChild {
    display: flex;
    gap: 4px;
    align-items: center;

}