.wrapper img {
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    background-color: #f5f8ff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 650px;
    height: 50px;
    border-radius: 20px;
    padding: 18px 15px;
    cursor: pointer;
}



.flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper:hover{
    background-color: #c7dbff;
}
.span p{
    color: #174ea6;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.darkFlex{
    display: flex;
    align-items: center;
    gap: 8px;
}

.darkFlex img{
    color: #fff;
}

.darkFlex p{
    color: #eef0ff;
}

.darkSpan p{
    color: #a8c7fa;
}

.darkWrapper{
    background: #2c303d;
    border-radius: 4px;
    cursor: pointer;
}

.darkWrapper:hover{
    color: #eef0ff;
    background-color: #3a3f50;
}

.darkWrapper img{
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
}

.darkWrapper {
    background: #2c303d;
    border-radius: 20px;
    padding: 18px 15px;
    cursor: pointer;
    overflow: hidden;
    width: 650px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}



