.wrapper {
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(73, 72, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55px;
    right: 160px;
}

.container {
    width: 300px;
    height: 380px;
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
}

.unlist {
    width: 270px;
    height: 330px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    color: #fff;
}

.unlist li {
    list-style: none;
    padding-left: 0px;
    cursor: pointer;
}

.unlist::-webkit-scrollbar {
    width: 9px;
}

.unlist::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgb(109, 108, 108);
}

.containerButton button {
    border: none;
    width: 130px;
    height: 48px;
    position: relative;
    border-radius: 25px ;
    background-color: rgb(105, 105, 105);
    left: 50%;
    transform: translateX(-15%);
    cursor: pointer;
}

.containerButton button:hover {
    background-color: rgb(160, 160, 160);
    color: #dddddd;
}