.container {
  max-width: 288px;
  width: 100%;
  max-height: 304px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(5, 34, 36, 0.1) 0%,
    rgba(19, 130, 138, 0.1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}

.container:hover {
  background: linear-gradient(
    180deg,
    rgba(5, 34, 36, 0.5) 0%,
    rgba(19, 130, 138, 0.5) 100%
  );
}
.container:active {
  background: linear-gradient(180deg, #052224 0%, #13828a 100%);
}

.container img {
  border-radius: 6px;
  margin-top: 20px;
  max-width: 224px;
  margin-left: 32px;
  margin-right: 32px;
  width: 80%;
}

.container span {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 20px;
}
