.container {
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.containeri {
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    padding: 20px;
    width: 20px;
    height: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.containeri img {
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.container  a {
    text-decoration: none;
    color: black;
}

.container > img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 15px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
}
.container  > img:hover {
    background-color: rgb(162, 162, 162);
    border-radius: 50%;
}


.wrapper {
    width: 90px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    right: 14px;
    background-color: white;
    border: 1px solid rgb(194, 188, 188);
}

.wrapper button {
    width: 100%;
    border: none;
    color: black;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
}

.wrapper button:hover {
    background-color: rgb(199, 198, 198);
}

.wrapperNone {
    display: none;
}