.albumName {
  font-size: 20px;
  font-weight: 500;
}
.artistName {
  font-size: 16px;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  height: 170px;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 16px;
}
