
.wrapper{
    background-color: #202124;
    height: 100vh;
}
.Burger {
    display: none;
}
.inactiveProfileBurger {
    display: none;
}

.activeProfileBurger {
    position: fixed;
    right: 500px;
    top: 70px;
}